.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-link {
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.navigation-links-link1 {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link2 {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}









@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links-link {
    width: 100%;
    align-self: center;
    text-align: center;
  }
  .navigation-links-link1 {
    width: 100%;
    align-self: center;
    text-align: center;
  }
  .navigation-links-link2 {
    width: 100%;
    align-self: center;
    text-align: center;
  }
  .navigation-links-root-class-name18 {
    align-self: center;
  }
}

.header-header {
  width: 100%;
  display: flex;
  z-index: 1;
  position: fixed;
  max-width: 100%;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
  justify-content: space-between;
  background-color: rgba(228, 234, 234, 0.9);
}
.header-container {
  flex: 0 0 auto;
  width: 80%;
  height: 80px;
  display: flex;
  align-items: flex-start;
}
.header-navlink {
  display: contents;
}
.header-container1 {
  flex: 0 0 auto;
  width: 30%;
  height: 80px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-theme-greenblock);
  border-style: dashed;
  border-width: 2px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.header-container2 {
  flex: 0 0 auto;
  width: 50%;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.header-link {
  display: contents;
}
.header-icon {
  width: 35px;
  height: auto;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-link1 {
  display: contents;
}
.header-image {
  width: 35px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-link2 {
  display: contents;
}
.header-icon2 {
  width: 30px;
  height: auto;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-link3 {
  display: contents;
}
.header-image1 {
  flex: 0;
  width: 35px;
  object-fit: cover;
  text-decoration: none;
}
.header-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-link4 {
  display: contents;
}
.header-burger-menu {
  display: none;
  transition: 0.3s;
  text-decoration: none;
}
.header-burger-menu:active {
  background-color: #b0c1b7;
}
.header-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.header-mobile-menu:active {
  display: flex;
}
.header-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-close-mobile-menu {
  display: flex;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
}

.header-icon6 {
  width: 24px;
  height: 24px;
}





@media(max-width: 767px) {
  .header-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-nav {
    display: none;
  }
  .header-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .header-header {
    padding: var(--dl-space-space-unit);
  }
  .header-container1 {
    flex: 1;
    width: 40%;
    height: auto;
  }
  .header-container2 {
    flex: 1;
    width: 40%;
    height: auto;
  }
  .header-burger-menu {
    flex: 0;
    width: auto;
    height: auto;
  }
  .header-icon4 {
    flex: 1;
    width: 35px;
    height: auto;
  }
  .header-mobile-menu {
    top: var(--dl-space-space-unit);
    right: 0px;
    width: 80%;
    height: auto;
    margin: auto;
    display: none;
    padding: 16px;
    position: absolute;
    animation-name: slideInDown;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .header-container3 {
    border-color: var(--dl-color-scheme-green80);
    border-style: dashed;
    border-width: 2px;
    margin-bottom: var(--dl-space-space-halfunit);
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .header-close-mobile-menu {
    width: 100%;
    position: relative;
    justify-content: flex-end;
  }
  .header-icon6 {
    align-self: center;
  }
}

.footer-footer {
  gap: 0;
  width: 100%;
  height: 110px;
  display: flex;
  padding: 00px;
  position: relative;
  max-width: 100%;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
  background-color: var(--dl-color-scheme-green80);
}
.footer-social-bar {
  width: 100%;
  display: flex;
  align-self: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.footer-container {
  flex: 0 0 auto;
  width: Small;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.footer-link {
  display: contents;
}
.footer-icon {
  fill: var(--dl-color-theme-base);
  width: 30px;
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-link1 {
  display: contents;
}
.footer-image {
  width: 30px;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-link2 {
  display: contents;
}
.footer-image1 {
  width: 30px;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-link3 {
  display: contents;
}
.footer-icon2 {
  fill: var(--dl-color-theme-base);
  width: 30px;
  height: var(--dl-size-size-small);
  margin-right: 0px;
  text-decoration: none;
}
.footer-text {
  color: var(--dl-color-theme-base);
  width: 100%;
  height: 100%;
  align-self: center;
  margin-top: 0px;
  text-align: center;
}


.footer-root-class-name2 {
  max-width: auto;
}


.footer-root-class-name5 {
  max-width: auto;
}
.footer-root-class-name6 {
  max-width: auto;
}
@media(max-width: 991px) {
  .footer-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    height: var(--dl-size-size-medium);
    padding: var(--dl-space-space-unit);
  }
  .footer-social-bar {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .footer-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-root-class-name1 {
    height: var(--dl-size-size-large);
    max-width: var(--dl-size-size-maxwidth);
  }
  .footer-root-class-name3 {
    height: var(--dl-size-size-large);
    max-width: var(--dl-size-size-maxwidth);
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-theme-base);
}
.home-hero {
  flex: 1;
  height: 356px;
  position: relative;
  margin-top: var(--dl-space-space-fiveunits);
  padding-top: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 0px;
  background-color: transparent;
}
.home-line {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 2px;
  margin-right: 0px;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: center;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-max-width {
  align-items: center;
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-title {
  color: rgb(14, 14, 14);
  width: var(--dl-size-size-maxwidth);
  font-size: 52px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.2;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.home-title1 {
  color: rgb(35, 35, 35);
  font-size: 20px;
  align-self: stretch;
  font-style: italic;
  text-align: right;
  font-family: "Urbanist";
  font-weight: 600;
  line-height: 1.2;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-twounits);
}
.home-description {
  color: rgb(30, 30, 30);
  font-size: 18px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: justify;
  line-height: 1.5;
  padding-left: var(--dl-space-space-eightunits);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-eightunits);
}
.home-text01 {
  font-style: italic;
  font-weight: 400;
}
.home-container02 {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-button {
  flex: initial;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #ff906c;
}
.home-text03 {
  color: #000000;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.home-button01 {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: row;
  justify-content: center;
  background-color: #aff5b5;
}
.home-text04 {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-button02 {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: row;
  justify-content: center;
  background-color: #f9df75;
}
.home-text05 {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-button03 {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: row;
  justify-content: center;
  background-color: #d7a4f4;
}
.home-text06 {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-button04 {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: row;
  justify-content: center;
  background-color: #a4bbf4;
}
.home-text07 {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-description1 {
  color: rgb(30, 30, 30);
  width: auto;
  font-size: 18px;
  margin-top: var(--dl-space-space-unit);
  text-align: justify;
  line-height: 1.5;
  padding-left: var(--dl-space-space-eightunits);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-eightunits);
}
.home-line1 {
  flex: 0 0 auto;
  width: 60%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.home-section {
  flex: 1;
  height: 620px;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: var(--dl-color-theme-base);
}
.home-text08 {
  color: rgba(12, 66, 55, 0.5);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container-ttt {
  flex: 0 0 auto;
  width: 100%;
  height: 486px;
  display: flex;
  align-items: flex-start;
}
.home-container03 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
}
.home-image {
  flex: 1;
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
  padding-left: var(--dl-space-space-halfunit);
}
.home-container04 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-text09 {
  width: 100%;
  font-size: 40px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  margin-left: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  text-transform: capitalize;
}
.home-container05 {
  width: 100%;
  height: 73px;
  display: flex;
  position: relative;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  margin-left: 0px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.home-button05 {
  width: auto;
  height: 30px;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: center;
  background-color: #ff906c;
}
.home-text10 {
  color: #000000;
  font-size: 14px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.home-button06 {
  width: auto;
  height: 30px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: row;
  justify-content: center;
  background-color: #aff5b5;
}
.home-text11 {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.home-button07 {
  width: auto;
  height: 30px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: row;
  justify-content: center;
  background-color: #f9df75;
}
.home-text12 {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.home-text13 {
  width: 100%;
  align-self: flex-start;
  line-height: 1.2;
  margin-left: 0px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-navlink {
  color: var(--dl-color-scheme-yellow20);
  width: 217px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-scheme-green80);
}
.home-navlink:hover {
  color: var(--dl-color-scheme-green100);
  background-color: #86daca;
}
.home-link {
  color: var(--dl-color-theme-base);
  width: 217px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-theme-greenblock);
}
.home-link:hover {
  color: var(--dl-color-scheme-green100);
  background-color: #86daca;
}
.home-container-umlaut {
  flex: 0 0 auto;
  width: 100%;
  height: 486px;
  display: flex;
  align-items: flex-start;
}
.home-container06 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-image01 {
  flex: 1;
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
  padding-left: var(--dl-space-space-halfunit);
}
.home-container07 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.home-text27 {
  width: 100%;
  font-size: 40px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  margin-left: var(--dl-space-space-oneandhalfunits);
  padding-left: 0px;
  padding-bottom: 0px;
  text-transform: capitalize;
}
.home-container08 {
  width: 100%;
  height: 73px;
  display: flex;
  position: relative;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: flex-start;
}
.home-button08 {
  width: auto;
  height: 30px;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: center;
  background-color: #ff906c;
}
.home-text28 {
  color: #000000;
  font-size: 14px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.home-button09 {
  width: auto;
  height: 30px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: row;
  justify-content: center;
  background-color: #aff5b5;
}
.home-text29 {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.home-button10 {
  width: auto;
  height: 30px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-theme-blue);
}
.home-text30 {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.home-text31 {
  width: 100%;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-unit);
}
.home-navlink1 {
  fill: var(--dl-color-theme-neongreen);
  color: var(--dl-color-theme-neongreen);
  width: 217px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  border-color: var(--dl-color-theme-neongreen);
  border-width: 2px;
  text-decoration: none;
  background-color: var(--dl-color-theme-dark);
}
.home-navlink1:hover {
  fill: var(--dl-color-theme-dark);
  color: var(--dl-color-theme-dark);
  background-color: var(--dl-color-theme-neongreen);
}
.home-link1 {
  fill: var(--dl-color-theme-neongreen);
  color: var(--dl-color-theme-neongreen);
  width: 217px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  border-color: #5ae04b;
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
  background-color: var(--dl-color-theme-dark);
}
.home-link1:hover {
  fill: var(--dl-color-theme-dark);
  color: var(--dl-color-theme-dark);
  background-color: var(--dl-color-theme-neongreen);
}
.home-container-dungeon-roll {
  flex: 0 0 auto;
  width: 100%;
  height: 486px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container09 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image02 {
  flex: 1;
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.home-container10 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text36 {
  font-size: 40px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-transform: capitalize;
}
.home-container11 {
  width: 100%;
  height: 73px;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
}
.home-button11 {
  width: auto;
  height: 30px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: center;
  background-color: #ff906c;
}
.home-text37 {
  color: #000000;
  font-size: 14px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.home-button12 {
  width: auto;
  height: 30px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: row;
  justify-content: center;
  background-color: #aff5b5;
}
.home-text38 {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.home-text39 {
  width: auto;
  align-self: flex-start;
  line-height: 1.15;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
}
.home-button13 {
  color: var(--dl-color-scheme-yellow20);
  width: 217px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 700;
  border-width: 0px;
  background-color: rgb(96, 107, 101);
}
.home-link2 {
  color: var(--dl-color-theme-base);
  width: 217px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  border-width: 0px;
  text-decoration: none;
  background-color: #9140a8;
}
.home-link2:hover {
  color: #2a0c42;
  background-color: #e1b1ff;
}
.home-slider {
  flex: 0;
  width: var(--dl-size-size-maxwidth);
  height: auto;
  display: none;
  z-index: 0;
  align-self: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-trouble-through-town {
  color: var(--dl-color-scheme-green100);
  width: 100%;
  height: 526px;
  display: flex;
  z-index: 100;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
}
.home-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 486px;
  display: flex;
  align-items: flex-start;
}
.home-container13 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
}
.home-image03 {
  flex: 1;
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
  padding-left: var(--dl-space-space-halfunit);
}
.home-container14 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-text44 {
  width: 100%;
  font-size: 40px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  margin-left: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  text-transform: capitalize;
}
.home-container15 {
  width: 100%;
  height: 73px;
  display: flex;
  position: relative;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  margin-left: 0px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.home-button14 {
  width: auto;
  height: 30px;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: center;
  background-color: #ff906c;
}
.home-text45 {
  color: #000000;
  font-size: 14px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.home-button15 {
  width: auto;
  height: 30px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: row;
  justify-content: center;
  background-color: #aff5b5;
}
.home-text46 {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.home-button16 {
  width: auto;
  height: 30px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: row;
  justify-content: center;
  background-color: #f9df75;
}
.home-text47 {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.home-text48 {
  width: 100%;
  align-self: flex-start;
  line-height: 1.2;
  margin-left: 0px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-navlink2 {
  color: var(--dl-color-scheme-yellow20);
  width: 217px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-scheme-green80);
}
.home-navlink2:hover {
  color: var(--dl-color-scheme-green100);
  background-color: #86daca;
}
.home-link3 {
  color: var(--dl-color-theme-base);
  width: 217px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-theme-greenblock);
}
.home-link3:hover {
  color: var(--dl-color-scheme-green100);
  background-color: #86daca;
}
.home-u-slide {
  color: var(--dl-color-scheme-green100);
  width: 100%;
  height: 526px;
  display: flex;
  z-index: 100;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
}
.home-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: 486px;
  display: flex;
  align-items: flex-start;
}
.home-container17 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-image04 {
  flex: 1;
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
  padding-left: var(--dl-space-space-halfunit);
}
.home-container18 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.home-text62 {
  width: 100%;
  font-size: 40px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  margin-left: var(--dl-space-space-oneandhalfunits);
  padding-left: 0px;
  padding-bottom: 0px;
  text-transform: capitalize;
}
.home-container19 {
  width: 100%;
  height: 73px;
  display: flex;
  position: relative;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: flex-start;
}
.home-button17 {
  width: auto;
  height: 30px;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: center;
  background-color: #ff906c;
}
.home-text63 {
  color: #000000;
  font-size: 14px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.home-button18 {
  width: auto;
  height: 30px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: row;
  justify-content: center;
  background-color: #aff5b5;
}
.home-text64 {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.home-button19 {
  width: auto;
  height: 30px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-theme-blue);
}
.home-text65 {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.home-text66 {
  width: 100%;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-unit);
}
.home-button20 {
  color: var(--dl-color-theme-base);
  width: 217px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 700;
  border-width: 0px;
  background-color: #606b65;
}
.home-link4 {
  color: #5ae04b;
  width: 217px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  border-color: #5ae04b;
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
  background-color: #1e251e;
}
.home-link4:hover {
  color: #1e251e;
  background-color: #5ae04b;
}
.home-dungeon-roll {
  color: var(--dl-color-scheme-green100);
  width: 100%;
  height: 526px;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
}
.home-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: 486px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container21 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image05 {
  flex: 0;
  width: auto;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.home-container22 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text71 {
  font-size: 40px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-transform: capitalize;
}
.home-container23 {
  width: 100%;
  height: 73px;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
}
.home-button21 {
  width: auto;
  height: 30px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: center;
  background-color: #ff906c;
}
.home-text72 {
  color: #000000;
  font-size: 14px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.home-button22 {
  width: auto;
  height: 30px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: row;
  justify-content: center;
  background-color: #aff5b5;
}
.home-text73 {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.home-text74 {
  width: auto;
  align-self: flex-start;
  line-height: 1.15;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
}
.home-button23 {
  color: var(--dl-color-scheme-yellow20);
  width: 217px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 700;
  border-width: 0px;
  background-color: rgb(96, 107, 101);
}
.home-link5 {
  color: var(--dl-color-theme-base);
  width: 217px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  border-width: 0px;
  text-decoration: none;
  background-color: #9140a8;
}
.home-link5:hover {
  color: #2a0c42;
  background-color: #e1b1ff;
}
.home-slider-pagination {
  display: block;
}
.home-slider-button-prev {
  color: var(--dl-color-scheme-green100);
  display: block;
}
.home-slider-button-next {
  color: var(--dl-color-scheme-green100);
  display: block;
}
.home-line2 {
  flex: 0 0 auto;
  width: 60%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-section1 {
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: var(--dl-color-theme-base);
}
.home-text79 {
  color: rgba(12, 66, 55, 0.5);
}
.home-container24 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
}
.home-content {
  width: 100%;
  height: var(--dl-size-size-medium);
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: center;
}
.home-image06 {
  flex: 0;
  width: 50%;
  height: auto;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.home-image07 {
  flex: 0;
  width: 50%;
  height: auto;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.home-line3 {
  flex: 0 0 auto;
  width: 60%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-section2 {
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: var(--dl-color-theme-base);
}
.home-text80 {
  color: rgba(12, 66, 55, 0.5);
}
.home-container25 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
}
.home-content1 {
  width: 50%;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text81 {
  color: rgb(0, 0, 0);
  font-size: 42px;
  align-self: center;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: 0px;
}
.home-title2 {
  color: rgb(0, 0, 0);
  font-size: 18px;
  align-self: center;
  font-style: italic;
  font-family: "Urbanist";
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-button24 {
  width: auto;
  height: 30px;
  display: flex;
  align-self: center;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-theme-purple);
}
.home-text82 {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.home-link6 {
  color: var(--dl-color-theme-base);
  width: 162px;
  height: auto;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  border-width: 0px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--dl-color-scheme-green80);
}
.home-link6:hover {
  color: var(--dl-color-scheme-green100);
  background-color: #86daca;
}
.home-slider1 {
  width: 50%;
  height: var(--dl-size-size-xxlarge);
  display: inline-block;
  margin-right: var(--dl-space-space-fourunits);
}
.home-slider-slide {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.home-image08 {
  flex: 0;
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.home-slider-slide1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home-image09 {
  flex: 0;
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.home-slider-slide2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home-image10 {
  flex: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-slider-slide3 {
  display: flex ;
  justify-content: center;
}
.home-image11 {
  flex: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-slider-pagination1 {
  display: block;
}
.home-slider-button-prev1 {
  color: var(--dl-color-scheme-green100);
}
.home-slider-button-next1 {
  color: var(--dl-color-scheme-green100);
}
@media(max-width: 991px) {
  .home-line {
    width: 50%;
    margin-right: var(--dl-space-space-unit);
  }
  .home-title {
    width: auto;
  }
  .home-title1 {
    width: auto;
  }
  .home-line1 {
    width: 50%;
    margin-right: var(--dl-space-space-unit);
  }
  .home-line2 {
    width: 50%;
    margin-right: var(--dl-space-space-unit);
  }
  .home-content {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-line3 {
    width: 50%;
    margin-right: var(--dl-space-space-unit);
  }
  .home-content1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .home-line {
    width: 100%;
    margin-right: 0px;
  }
  .home-max-width {
    flex-direction: column-reverse;
  }
  .home-line1 {
    width: 100%;
    margin-right: 0px;
  }
  .home-line2 {
    width: 100%;
    margin-right: 0px;
  }
  .home-content {
    width: 100%;
    margin-right: 0px;
  }
  .home-line3 {
    width: 100%;
    margin-right: 0px;
  }
  .home-content1 {
    width: 100%;
    margin-right: 0px;
  }
}
@media(max-width: 479px) {
  .home-hero {
    margin-top: var(--dl-space-space-sixunits);
  }
  .home-title1 {
    width: auto;
    align-self: stretch;
  }
  .home-description {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-container02 {
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-button {
    flex: 1;
    width: 100%;
    margin-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
  }
  .home-button01 {
    width: 100%;
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-halfunit);
    flex-direction: row;
  }
  .home-button02 {
    width: 100%;
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-button03 {
    width: 100%;
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-button04 {
    width: 100%;
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-description1 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-container-ttt {
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-container03 {
    width: 80%;
    position: relative;
    flex-direction: row;
  }
  .home-image {
    flex: 1;
    width: 100%;
    height: 100%;
    align-self: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-container04 {
    flex: 1;
    width: 100%;
    align-self: center;
    margin-left: 0px;
  }
  .home-text09 {
    width: 100%;
    height: auto;
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-container05 {
    width: 100%;
    height: 100%;
    align-self: center;
    flex-direction: column;
  }
  .home-button05 {
    width: 100%;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-button06 {
    width: 100%;
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-halfunit);
    flex-direction: column;
  }
  .home-button07 {
    width: 100%;
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-text13 {
    width: 100%;
    height: 100%;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .home-container-umlaut {
    flex: auto;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-container06 {
    flex: 1;
    width: 80%;
  }
  .home-image01 {
    flex: 1;
    width: 100%;
    height: 100%;
    align-self: center;
  }
  .home-container07 {
    width: 100%;
    height: auto;
  }
  .home-text27 {
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    text-align: center;
    margin-left: 0px;
  }
  .home-container08 {
    flex: 0;
    height: auto;
    align-self: center;
    align-items: stretch;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-button08 {
    width: 100%;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-button09 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-button10 {
    width: 100%;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-text31 {
    width: auto;
  }
  .home-container-dungeon-roll {
    flex: 1;
    width: 100%;
    height: auto;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-container09 {
    width: 80%;
    height: auto;
    align-self: center;
    align-items: flex-start;
    justify-content: center;
  }
  .home-image02 {
    flex: 1;
    width: 100%;
    height: auto;
  }
  .home-container10 {
    width: 100%;
  }
  .home-text36 {
    width: auto;
    height: 100%;
    align-self: center;
  }
  .home-container11 {
    flex: 1;
    height: 93px;
    align-self: center;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-button11 {
    flex: initial;
    width: 100%;
    height: 30px;
    align-self: center;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
    flex-direction: column;
    justify-content: center;
  }
  .home-button12 {
    flex: initial;
    width: 100%;
    align-self: center;
    align-items: center;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
    flex-direction: column;
    justify-content: center;
  }
  .home-slider {
    flex: 1;
    width: 100%;
    height: var(--dl-size-size-maxwidth);
    display: inline-block;
    align-self: center;
  }
  .home-slider-wrapper {
    position: relative;
  }
  .home-trouble-through-town {
    width: 100%;
    height: fit-content;
    flex-direction: column;
  }
  .home-container12 {
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-container13 {
    width: 80%;
    position: relative;
    flex-direction: row;
  }
  .home-image03 {
    flex: 1;
    width: 100%;
    height: 100%;
    align-self: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-container14 {
    flex: 1;
    width: 100%;
    align-self: center;
    margin-left: 0px;
  }
  .home-text44 {
    width: 100%;
    height: auto;
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-container15 {
    width: 100%;
    height: 100%;
    align-self: center;
    flex-direction: column;
  }
  .home-button14 {
    width: 100%;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-button15 {
    width: 100%;
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-halfunit);
    flex-direction: column;
  }
  .home-button16 {
    width: 100%;
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-text48 {
    width: 100%;
    height: 100%;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .home-u-slide {
    width: 100%;
    height: fit-content;
    flex-direction: column;
  }
  .home-container16 {
    flex: auto;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-container17 {
    flex: 1;
    width: 80%;
  }
  .home-image04 {
    flex: 1;
    width: 100%;
    height: 100%;
    align-self: center;
  }
  .home-container18 {
    width: 100%;
    height: auto;
  }
  .home-text62 {
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    text-align: center;
    margin-left: 0px;
  }
  .home-container19 {
    flex: 0;
    height: auto;
    align-self: center;
    align-items: stretch;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-button17 {
    width: 100%;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-button18 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-button19 {
    width: 100%;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-text66 {
    width: auto;
  }
  .home-dungeon-roll {
    width: 100%;
    height: fit-content;
    padding-top: 0px;
    flex-direction: column;
  }
  .home-container20 {
    flex: 1;
    width: 100%;
    height: auto;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-container21 {
    width: 80%;
    height: auto;
    align-self: center;
    align-items: flex-start;
    justify-content: center;
  }
  .home-image05 {
    flex: 1;
    width: 100%;
    height: auto;
  }
  .home-container22 {
    width: 100%;
  }
  .home-text71 {
    width: auto;
    height: 100%;
    align-self: center;
  }
  .home-container23 {
    flex: 1;
    height: 93px;
    align-self: center;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-button21 {
    flex: initial;
    width: 100%;
    height: 30px;
    align-self: center;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
    flex-direction: column;
    justify-content: center;
  }
  .home-button22 {
    flex: initial;
    width: 100%;
    align-self: center;
    align-items: center;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
    flex-direction: column;
    justify-content: center;
  }
  .home-slider-pagination {
    width: 100%;
  }
  .home-text79 {
    color: rgba(12, 66, 55, 0.5);
  }
  .home-container24 {
    position: relative;
    margin-top: var(--dl-space-space-halfunit);
    flex-direction: column;
  }
  .home-text80 {
    color: rgba(12, 66, 55, 0.5);
  }
  .home-container25 {
    position: relative;
    margin-top: var(--dl-space-space-halfunit);
    flex-direction: column;
  }
  .home-slider1 {
    flex: 0;
    width: 100%;
    height: var(--dl-size-size-xlarge);
    align-self: center;
    margin-right: 0px;
  }
  .home-slider-slide {
    background-size: cover;
    justify-content: center;
    background-image: 35b25029-0612-4ad3-ab7c-ae805d87aa17;
  }
}
